APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:PBR+e/15jJeCfFtLr/+6zjdWeeG2cQoc08aeHW/Pooo=
APP_CIPHER=aes-256-gcm
APP_DEBUG=true
APP_URL=https://your-app-name.onrender.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=YOUR_RENDER_HOST
DB_PORT=5432
DB_DATABASE=YOUR_DATABASE_NAME
DB_USERNAME=YOUR_USERNAME
DB_PASSWORD=YOUR_PASSWORD

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_SCHEME=null
MAIL_PORT=465
MAIL_USERNAME=olit.djune@gmail.com
MAIL_PASSWORD=jxslplsanzvlmblv
MAIL_FROM_ADDRESS="olit.djune@gmail.com"
MAIL_FROM_NAME="coop"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

PAYMONGO_SECRET=YOUR_NEW_SECRET_KEY
PAYMONGO_PUBLIC=YOUR_NEW_PUBLIC_KEY
